{% extends 'user_management/profile_form.html' %}


{% block title %}{{ block.super}} Crea profilo{% endblock %}

{% block form_page_path %}
    <a class="site-link" href="{% url 'user_management:user-detail' %}">Profilo</a>
    &nbsp;>&nbsp;
    Crea profilo
{% endblock %}
{% block form_title %}Inserisci le informazioni del profilo{% endblock %}
{% block submit_button_value %}Salva le informazioni del profilo{% endblock %}
{% block submit_button_form_id %}create-profile-crispy-form{% endblock %}
{% block cancel_button_url %}{% url 'user_management:user-detail' %}{% endblock %}