{% extends 'base.html' %}
{% load crispy_forms_tags %}


{% block content %}
    <div class="container-fluid site-box p-4 mb-3 bg-white w-100 shadow">
        <div class="row">
            <div class="col unnecessary-column"></div>
            <div class="site-col col-lg-6 col-12">
                <div class="mb-5">
                    <h6 class="font-5">{% block form_page_path %}{% endblock %}</h6>
                    <h5 class="font-6">{% block form_title %}{% endblock %}</h5>
                    {% block form_user_profile_picture %}{% endblock %}
                </div>
                {% crispy form %}
                <div class="d-flex column-flex align-items-start mobile-column-center mt-4 mb-2">
                    <div class="d-flex align-items-center justify-content-between site-flex-buttons">
                        <input class="btn site-btn w-100" type="submit" form="{% block submit_button_form_id %}{% endblock %}"
                               value="{% block submit_button_value %}{% endblock %}">
                        <a class="site-link font-6 ml-3 mt-3 mt-lg-0" href="{% block cancel_button_url %}{% endblock %}">
                            Annulla
                        </a>
                    </div>
                </div>
            </div>
            <div class="col unnecessary-column"></div>
        </div>
    </div>
{% endblock %}